## Analysing data

출처는 kaggle 사이트를 참고하여 직접 실습을 따라해보았습니다.
(https://www.kaggle.com/devprabal/bmi-prediction-of-health-status)

(1) 데이터 불러오기 및 결측치 확인

In [59]:
import numpy as np
import pandas as pd

import os

In [60]:
data = pd.read_csv('./500_Person_Gender_Height_Weight_Index.csv',engine='python',encoding='CP949')
data_visual = pd.read_csv('./500_Person_Gender_Height_Weight_Index.csv',engine='python',encoding='CP949')

In [61]:
data.head()

  Gender  Height  Weight  Index
0     여자     141     146      5
1     여자     141      76      4
2     남자     141     129      5
3     남자     141     152      5
4     남자     141      79      3

In [62]:
data.shape

(777, 4)

In [63]:
# 결측치 확인

data.isnull().any()

Gender    False
Height    False
Weight    False
Index     False
dtype: bool

In [64]:
# 데이터를 0~5까지 나누어서 체질과 식단 추천 함께해주기!

In [65]:


def convert_status_to_description(x):
    if x['Index'] == 1 :
        return 'Weak, 아침을 꼭 챙겨먹고, 고기류와 단백질을 섭취해주세요'
    elif x['Index'] == 2 :
        return 'Normal, 현미밥, 고구마와 같은 건강식 섭취와 운동을 함께 해주세요'
    elif x['Index'] == 3 :
        return 'Overweight, 적은 양의 식사, 단백질 쉐이크 섭취를 함께 해주세요'
    elif x['Index'] == 4 :
        return 'Obesity, 녹차, 견과류 등을 섭취하여 콜레스트롤 양을 조절하세요'
    elif x['Index'] == 5 :
        return 'Extreme Obesity, 밀가루 음식을 자제하고 채소를 섭취해주세요'

In [66]:
data['Status'] = data.apply(convert_status_to_description,axis=1)
data.head()

,Gender,Height,Weight,Index,Status
0,여자,141,146,5,"Extreme Obesity, 가공 식품, 설탕, 간식, 라면과 같은 음식을 자제하..."
1,여자,141,76,4,"Obesity, 고추, 녹차, 달걀, 커피, 견과류 등을 같이 섭취하여 콜레스트롤 ..."
2,남자,141,129,5,"Extreme Obesity, 가공 식품, 설탕, 간식, 라면과 같은 음식을 자제하..."
3,남자,141,152,5,"Extreme Obesity, 가공 식품, 설탕, 간식, 라면과 같은 음식을 자제하..."
4,남자,141,79,3,"Overweight, 우리 몸이 꼭 필요한 단백질, 비타민, 무기질 등등 균형 잡히..."

In [67]:
people = data['Index'].value_counts() 

print(type(people))
people.head()

<class 'pandas.core.series.Series'>

5    247
4    174
3    127
2    119
1    110
Name: Index, dtype: int64

In [68]:
Extreme_Obesity = data[data['Index']==5]
Extreme_Obesity = pd.DataFrame(Extreme_Obesity)

Extreme_Obesity = Extreme_Obesity[['Gender','Height','Weight']]
Extreme_Obesity

Obesity = data[data['Index']==4]
Obesity = pd.DataFrame(Obesity)

Obesity = Obesity[['Gender','Height','Weight']]
Obesity

Normal =  data[data['Index']==3]
Normal = pd.DataFrame(Normal)

Normal = Normal[['Gender','Height','Weight']]
Normal

Overweight =  data[data['Index']==2]
Overweight = pd.DataFrame(Overweight)

Overweight = Overweight[['Gender','Height','Weight']]
Overweight

weak =  data[data['Index']==1]
weak = pd.DataFrame(weak)

weak = weak[['Gender','Height','Weight']]
weak

    Gender  Height  Weight
5       남자     141      52
60      여자     148      35
61      여자     148      41
62      여자     148      45
78      여자     151      51
..     ...     ...     ...
759     여자     198      51
769     남자     211      75
770     남자     211      65
772     남자     212      58
776     남자     212      51

[110 rows x 3 columns]

In [69]:
 ## 데이터프래임 생성
Extreme_Obesity.to_csv('Extreme_Obesity.txt',index=False,sep='\t')
Obesity.to_csv('Obesity.txt',index=False,sep='\t')
Normal.to_csv('Normal .txt',index=False,sep='\t')
Overweight.to_csv('Overweight.txt',index=False,sep='\t')
weak.to_csv('weak.txt',index=False,sep='\t')

list = ['Extreme_Obesity.txt','Obesity.txt','Normal .txt','Overweight.txt','weak.txt']

In [70]:
for file in list:
    with open(file, 'r') as txt:
        a = txt.readlines()
    for i in range(len(a)):
        b = i + 1
        with open(f'{file}-{b}.text', 'w+') as txt:
            txt.write(a[i])