## Analysing data

출처는 kaggle 사이트를 참고하여 직접 실습을 따라해보았습니다.
(https://www.kaggle.com/devprabal/bmi-prediction-of-health-status)

(1) 데이터 불러오기 및 결측치 확인

In [1]:
import numpy as np
import pandas as pd

import os

In [2]:
data = pd.read_csv('./500_Person_Gender_Height_Weight_Index.csv')
data_visual = pd.read_csv('./500_Person_Gender_Height_Weight_Index.csv')

In [6]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [7]:
data.shape

(500, 4)

In [8]:
# 결측치 확인

data.isnull().any()

Gender    False
Height    False
Weight    False
Index     False
dtype: bool

In [13]:
def convert_status_to_description(x):
    if x['Index'] == 0 :
        return 'Extremely Weak'
    elif x['Index'] == 1 :
        return 'Weak'
    elif x['Index'] == 2 :
        return 'Normal'
    elif x['Index'] == 3 :
        return 'Overweight'
    elif x['Index'] == 4 :
        return 'Obesity'
    elif x['Index'] == 5 :
        return 'Extreme Obesity'

In [14]:
data_visual['Status'] = data_visual.apply(convert_status_to_description,axis=1)
data_visual.head()

   Gender  Height  Weight  Index      Status  gender_lbl
0    Male     174      96      4     Obesity           1
1    Male     189      87      2      Normal           1
2  Female     185     110      4     Obesity           0
3  Female     195     104      3  Overweight           0
4    Male     149      61      3  Overweight           1

In [15]:
"""def convert_gender_to_label(x):
    if x['Gender'] == 'Male' :
        return 1
    elif x['Gender'] == 'Female' :
        return 0
    """
data_visual['gender_lbl'] = data_visual.apply(convert_gender_to_label, axis=1)
data_visual.head()

   Gender  Height  Weight  Index      Status  gender_lbl
0    Male     174      96      4     Obesity           1
1    Male     189      87      2      Normal           1
2  Female     185     110      4     Obesity           0
3  Female     195     104      3  Overweight           0
4    Male     149      61      3  Overweight           1

In [16]:
people = data_visual['Status'].value_counts() 

print(type(people))
people.head()

<class 'pandas.core.series.Series'>

Extreme Obesity    198
Obesity            130
Normal              69
Overweight          68
Weak                22
Name: Status, dtype: int64

In [17]:
Extreme_Obesity = data_visual[data_visual['Status']=='Extreme Obesity']
Extreme_Obesity = pd.DataFrame(Extreme_Obesity)

Obesity = data_visual[data_visual['Status']=='Obesity']
Obesity = pd.DataFrame(Obesity)

Normal = data_visual[data_visual['Status']=='Normal']
Normal = pd.DataFrame(Normal)

Overweight = data_visual[data_visual['Status']=='Overweight']
Overweight = pd.DataFrame(Overweight)

# 데이터가 많이 부족함
weak = data_visual[data_visual['Status']=='Weak']
weak = pd.DataFrame(weak)

In [19]:
 ## 데이터프래임 생성
Extreme_Obesity.to_csv('Extreme_Obesity.txt',index=False,sep='\t')
Obesity.to_csv('Obesity.txt',index=False,sep='\t')
Normal.to_csv('Normal .txt',index=False,sep='\t')
Overweight.to_csv('Overweight.txt',index=False,sep='\t')
weak.to_csv('weak.txt',index=False,sep='\t')

list = ['Extreme_Obesity.txt','Obesity.txt','Normal .txt','Overweight.txt','weak.txt']

In [21]:
for file in list:
    with open(file, 'r') as txt:
        a = txt.readlines()
    for i in range(len(a)):
        b = i + 1
        with open(f'{file}-{b}.text', 'w+') as txt:
            txt.write(a[i])